* {
    font-family: "roboto", 'Times New Roman';
}

body {
    margin: 0px;
}

/* HEADER */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* SECTION 1 */
.section1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 48px 24px;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 400px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
}

.image-placeholder {
    background-color: grey;
    padding: 100px 125px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    width: 100px;
    font-weight: 600;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 6px 2px;
    border: 0px;
}

/* SECTION 2 */
.section2 {
    padding: 36px;
}

.section2-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.list {
    display: flex;
    gap: 42px;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.item-img {
    border: solid 2px #3882F6;
    border-radius: 8px;
    width: 150px;
    height: 150px
}

.item-subtext {
    text-align: center;
    font-size: 18px;
}

/* SECTION 3 */
.section3 {
    background-color: #E5E7EB;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.citation {
    font-weight: 700;
    align-self: end;
}

/* SECTION 4 */
.section4 {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 36px;
    width: 800px;

}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

h6 {
    margin: 0px;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.left p {
    margin: 0px;
    color: #F9FAF8;
    font-size: 18px;
}

.call-to-action button {
    border: 2px solid #F9FAF8;
}

/* Footer */
.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 18px;
}
